* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #ffff;
    color:  rgba(56,182,255,255);
    background-repeat: 2 repeat;
}

header{
    background-color: rgba(56,182,255,255);
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1{
    margin: 0;

}

nav ul {
    list-style: none;
    padding: 0;

}

nav ul li {
    display: contents;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.section {
    padding: 20px;
    background-color: white;
    margin: 20px o;
}

.section h2 {
    margin-bottom: 15px;
    color: aqua;
}

.section img {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: rgba(56,182,255,255);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: lightskyblue;
}

footer {
    background-color: rgba(56,182,255,255);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

